.header {
    color: var(--white);
}
.header__menu {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
}
.header__menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__menu-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}

.logo-img {
    display: block;
    height: 60px;
}

.menu__list {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu__item {
    margin-right: 60px;
    position: relative;
}
.menu__item::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--black);
    bottom: 0;
    right: 0;
    transition: .2s;
}
.menu__item:hover::after {
    width: 100%;
    left: 0;
}
.menu__link {
    font-size: 20px;
    padding: 3px 0 2px;
    display: inline-block;
}

.phone {
    font-size: 16px;
    transition: .2s;
}
.phone a {
    display: flex;
    align-items: center;
}

.phone img {
    width: 18px;
    margin-left: 10px;
}

.header__content {
    padding-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 90vh;
}
.header__text {
    position: relative;
    z-index: 2;
    padding: 60px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}
.header__title {
    color: var(--black);
    font-size: 48px;
    max-width: 700px;
}
.header__title span {
    color: var(--accent-color);
}

.header__buttons {
    margin-top: 60px;
}
.header__button {
    padding: 16px 40px;
    font-size: 16px;
}
.btn__brief {
    color: var(--white);
}
.btn__services {
    color: var(--black);
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    margin-left: 20px;
}
.header__image {
    position: absolute;
    right: 60px;
}


.services__title {
    margin-top: 60px;
}
.services__inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.services,
.blog,
.works {
    position: relative;
}
.decor-1,
.decor-2,
.decor-3 {
    position: absolute;
}
.decor-1 {
    animation-name: decor1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 400px;
    top: 40%;
}
.decor-2 {
    animation-name: decor2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    right: 0;
    width: 500px;
    bottom: -40px;
}
.decor-3 {
    animation-name: decor3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 30%;
    width: 400px;
}

.services__item {
    max-width: 36%;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    margin-top: 40px;
    font-size: 24px;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.services__item::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 180%;
    background: linear-gradient(225.12deg, rgba(130, 209, 252, 0.3) 20.83%, rgba(181, 64, 200, 0.3) 77.4%);
    transition: .4s;
    transform: rotate(-20deg) translate(-120%, 0);
}
.services__item:hover::after {
    transform: rotate(-20deg) translate(0%, 0);
}
.services__item:hover {
    border-color: var(--accent-color);
}

.services__item:nth-child(4n + 2) {
    max-width: 60%;
}
.services__item:nth-child(4n + 3) {
    max-width: 60%;
}

.works__title {
    margin-top: 100px;
}
.works__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 80px;
    position: relative;
}
.works__inner .slider {
    width: 400px;
}
.works-slider-btn {
    margin: 0 120px;
    height: 60px;
    width: 60px;
    background-color: var(--accent-color);
    color: var(--white);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 32px;
}
.works-slider-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.blog__title {
    margin-top: 100px;
}
.blog__inner {
    padding: 20px 0 100px;
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.blog__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 380px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    margin-top: 40px;
}
.blog__item-title {
    font-size: 22px;
    margin: 20px 0 10px;
}
.blog__item-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer {
    color: var(--black);
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
}
.footer__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}